extends layout

block content
  h1 FreeCodeCamp API Basejump: URL Shortener Microservice
  hr
  h2 Example usage:
  p https://little-url.herokuapp.com/new/https://www.google.com
  h2 Example output:
  p { "original_url":"http://foo.com:80", "short_url":"https://little-url.herokuapp.com/8170" }